*/target/**
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/observer/custom/observers/CurrentConditionDisplay.class
/target/classes/observer/java/observers/CurrentConditionDisplay.class
/target/classes/strategy/ducks/DecoyDuck.class
/target/classes/observer/custom/observers/DisplayElement.class
/target/classes/observer/java/observers/DisplayElement.class
/target/classes/strategy/ducks/Duck.class
/target/classes/strategy/fly/behavior/FlyBehavior.class
/target/classes/strategy/fly/behavior/FlyNoWay.class
/target/classes/strategy/fly/behavior/FlyRocketPowered.class
/target/classes/strategy/fly/behavior/FlyWithWings.class
/target/classes/observer/custom/observers/ForecastDisplay.class
/target/classes/observer/java/observers/ForecastDisplay.class
/target/head.first.design.patterns-1.0-SNAPSHOT.jar
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/strategy/ducks/MallardDuck.class
/target/classes/strategy/MiniDuckSimulator.class
/target/classes/strategy/quack/behavior/MuteQuack.class
/target/classes/observer/custom/observers/Observer.class
/target/maven-archiver/pom.properties
/target/classes/strategy/quack/behavior/Quack.class
/target/classes/strategy/quack/behavior/QuackBehavior.class
/target/classes/strategy/ducks/RedheadDuck.class
/target/classes/strategy/ducks/RubberDuck.class
/target/classes/strategy/quack/behavior/Squeak.class
/target/classes/observer/custom/observers/StatisticsDisplay.class
/target/classes/observer/java/observers/StatisticsDisplay.class
/target/classes/observer/custom/observable/Subject.class
/target/classes/observer/custom/observable/WeatherData.class
/target/classes/observer/java/observable/WeatherData.class
/target/classes/observer/java/WeatherStation.class
/target/classes/observer/custom/WeatherStation.class
